/programa20/nbproject/private/
/programa20/build/
/FuerzaGravitacional/nbproject/private/
/FuerzaGravitacional/build/
/CalculadoraAritmetica/nbproject/private/
/CalculadoraAritmetica/build/
/ResultadodeNotas/nbproject/private/
/ResultadodeNotas/build/
/MenuCajero/nbproject/private/
/MenuCajero/build/
/appRestaurante/nbproject/private/
/appRestaurante/build/
/CicloWhile/nbproject/private/
/CicloWhile/build/
/bucleWhile/nbproject/private/
/bucleWhile/build/
/cicloDowhile/nbproject/private/
/cicloDowhile/build/
/ciclofor/nbproject/private/
/ciclofor/build/
/ProgramaBucle1/nbproject/private/
/ProgramaBucle1/build/
/programa2While/nbproject/private/
/programa2While/build/
/Programa3While/nbproject/private/
/Programa3While/build/